EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=590717514419-tg5g0n6nt2gigbmhh2h210899pjjthle.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=com.googleusercontent.apps.590717514419-nh87knggt5q8l0dhkj9oetpl2enjjil3
EXPO_PUBLIC_GOOGLE_IOS_URL_SCHEME=com.googleusercontent.apps.590717514419-nh87knggt5q8l0dhkj9oetpl2enjjil3
GOOGLE_SERVICES_FILE=./google-services.json
IOS_GOOGLE_SERVICES_FILE=./GoogleService-Info.plist